<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.ksu.cis.peq"
   name="Peq_Eclipse Plug-in"
   version="0.1"
   provider-name="SAnToS laboratory"
   class="peqeclipse.PeqEclipsePlugin">

   <runtime>
      <library name="PeqEclipse.jar">
         <export name="*"/>
      </library>
      <library name="lib/peq.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
