<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.ksu.cis.indus"
   name="Indus Plug-in"
   version="0.4.0"
   provider-name="SAnToS laboratory, Kansas State University"
   class="edu.ksu.cis.projects.indus.IndusPlugin">

   <runtime>
      <library name="lib/commons-cli-1.0.jar"/>
      <library name="lib/commons-collections-3.1.jar"/>
      <library name="lib/commons-lang-2.0.jar"/>
      <library name="lib/commons-pool-1.1.jar"/>
      <library name="lib/jibx-run.jar"/>
      <library name="lib/xmlenc-0.44.jar"/>
      <library name="lib/xmlunit1.0.jar"/>
      <library name="lib/xpp3.jar"/>
      <library name="lib/commons-io-1.0.jar"/>
      <library name="lib/trove.jar"/>      
      <library name="lib/log4j-1.2.8.jar">
        <export name="*"/>
      </library>
      <library name="lib/log4jconfig.jar">
        <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
        <export name="*"/>
      </library>
      <library name="lib/commons-logging-api.jar">
        <export name="*"/>
      </library>
      <library name="lib/jasminclasses-sable-1.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/polyglot-1.1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/soot-2.1.0-modified.jar">
         <export name="*"/>
      </library>
      <library name="lib/indus.jar">
         <export name="*"/>
      </library>
      <library name="lib/slicer.jar">
         <export name="*"/>
      </library>
      <library name="lib/staticanalyses.jar">
         <export name="*"/>
      </library>
      <library name="Indus_Plugin.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit"/>
   </requires>

</plugin>
