<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.ksu.cis.indus.kaveri"
   name="Kaveri Java Slicer Plug-in"
   version="0.4.0"
   provider-name="SAnToS laboratory, Kansas State University"
   class="edu.ksu.cis.indus.kaveri.KaveriPlugin">

   <runtime>
      <library name="Kaveri.jar">
         <export name="*"/>
      </library>
      <library name="lib/xstream.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.source"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="edu.ksu.cis.indus"/>
   </requires>

<!-- The document -->
<extension point="org.eclipse.help.toc">
      <toc file="eclipse_doc/toc.xml" primary="true"/>
   </extension>

<!--  This defines the popup menus for the slicer -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            nameFilter="*.java"
            id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject">
         <menu
               label="Indus"
               path="additions"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Slice Java File"
               class="edu.ksu.cis.indus.kaveri.sliceactions.RunIndus"
               menubarPath="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu/group1"
               enablesFor="1"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SliceNavigatorAction">
         </action>
      </objectContribution>
      <objectContribution            
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="edu.ksu.cis.indus.kaveri.popup.mainResourcePopupObject">
		 <filter
         name="projectNature"
         value="org.eclipse.jdt.core.javanature">
      	</filter>           
      	<menu
               label="Indus"
               path="additions"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Slice Java File"
               class="edu.ksu.cis.indus.kaveri.sliceactions.RunIndus"
               menubarPath="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu/group1"
               enablesFor="1"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SliceNavigatorAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="edu.ksu.cis.indus.kaveri.popup.mainProjectPopupObject">
         <menu
               label="Indus"
               path="additions"
               id="edu.ksu.cis.indus.kaveri.popup.mainProjectPopupObject.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Slice Project"
               class="edu.ksu.cis.indus.kaveri.sliceactions.RunIndus"
               menubarPath="edu.ksu.cis.indus.kaveri.popup.mainProjectPopupObject.menu/group1"
               enablesFor="1"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SliceProjectNavigatorAction">
         </action>
      </objectContribution>
            <objectContribution
                  adaptable="false"
                  objectClass="org.eclipse.core.resources.IProject"
                  id="edu.ksu.cis.indus.kaveri.popup.mainResourceProjectPopupObject">
         <menu
               label="Indus"
               path="additions"
               id="edu.ksu.cis.indus.kaveri.popup.mainProjectPopupObject.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Slice Project"
               class="edu.ksu.cis.indus.kaveri.sliceactions.RunIndus"
               menubarPath="edu.ksu.cis.indus.kaveri.popup.mainProjectPopupObject.menu/group1"
               enablesFor="1"
               id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SliceProjectNavigatorAction">
         </action>
      </objectContribution>
            <!--<viewerContribution
                  targetID="#CompilationUnitEditorContext"
                  id="edu.ksu.cis.indus.kaveri.popup.editorPopup">
               <menu
                     label="Indus"
                     path="additons"
                     id="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu">
                  <separator name="group1"/>
                  <separator name="group2"/>
               </menu>
               <action
                     enablesFor="+"
                     label="View  slice"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.PartialSlice"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.PartialSliceViewAction"/>
               <action
                     enablesFor="+"
                     label="Add to Criteria"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.AddToCriteria"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.CriteriaSelectionAction"/>
               <menu
                     label="Dependence"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/group1"
                     id="dependenceMenu">
                  <groupMarker name="group1"/>
               </menu>      
               <menu
                     label="Data"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="datamenu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Data Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.DataSuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/datamenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.DASAction"/>
               <action
                     enablesFor="+"
                     label="Data Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.DataPredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/datamenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.DAPAction"/>
               
               <menu
                     label="Divergence"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="divmenu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Divergence Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.DivergenceSuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/divmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.DSAction"/>
               <action
                     enablesFor="+"
                     label="Divergence Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.DivergencePredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/divmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.DPAction"/>
               <menu
                     label="Interference"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="infmenu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Interference Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.InterferenceSuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/infmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.ISAction"/>
               <action
                     enablesFor="+"
                     label="Interference Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.InterferencePredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/infmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.IPAction"/>
                <menu
                     label="Synchronization"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="syncmenu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Synchronization Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.SynchronizationSuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/syncmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SSAction"/>
               <action
                     enablesFor="+"
                     label="Synchronization Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.SynchronizationPredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/syncmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.SPAction"/>
               <menu
                     label="Ready"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="readymenu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Ready Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.ReadySuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/readymenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.RSAction"/>
               <action
                     enablesFor="+"
                     label="Ready Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.ReadyPredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/readymenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.RPAction"/>
                     
               <menu
                     label="Control"
                     path="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/group1"
                     id="controlmenu">
                  <separator name="group1"/>
               </menu>            
               <action
                     enablesFor="+"
                     label="Control Successor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.ControlSuccessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/controlmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.CSAction"/>
               <action
                     enablesFor="+"
                     label="Control Predecessor"
                     class="edu.ksu.cis.indus.kaveri.editorcontextmenu.dependence.ControlPredecessor"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.editorMenu.menu/dependenceMenu/controlmenu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.mainPopupObject.menu.action.CPAction"/>
            </viewerContribution>
            -->
            <objectContribution
                  adaptable="true"
                  objectClass="org.eclipse.jdt.core.IMember"
                  id="edu.ksu.cis.indus.kaveri.popup.scopePopupObject">
               <menu
                     label="Indus"
                     path="additions"
                     id="edu.ksu.cis.indus.kaveri.popup.scopePopupObject.menu">
                  <separator name="group1"/>
               </menu>
               <action
                     enablesFor="+"
                     label="Add to Scope"
                     class="edu.ksu.cis.indus.kaveri.scoping.ScopePopupAction"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.popup.scopePopupObject.menu/group1"
                     id="edu.ksu.cis.indus.kaveri.popup.scopePopupObjectAction"/>
            </objectContribution>
            <viewerContribution
                  targetID="org.eclipse.jdt.callhierarchy.view"
                  id="edu.ksu.cis.indus.kaveri.callgraph">
               <menu
                     label="Indus"
                     path="additions"
                     id="edu.ksu.cis.indus.kaveri.callgraph.menu">
                  <separator name="group1"/>
               </menu>
               <action
                     label="Add to Context"
                     class="edu.ksu.cis.indus.kaveri.callgraph.AddToContext"
                     style="push"
                     menubarPath="edu.ksu.cis.indus.kaveri.callgraph.menu/group1"
                     id="edu.ksu.cis.indus.kaveri.callgraph.addContext"/>
            </viewerContribution>      
   </extension>
<!-- This extension shows additional information about the slice part chosen -->
<!-- This extension enables highlighting of the slice elements -->
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            annotationType="indus.slice.highlightAnnotation"
            textPreferenceKey="occurrenceIndication"
            colorPreferenceKey="occurrenceIndicationColor"
            highlightPreferenceKey="occurrenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusSliceAnnotation"
            colorPreferenceValue="0,255,0"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.highlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget">
      </specification>    
      <specification            
            verticalRulerPreferenceKey="occurrencePartialIndicationInVerticalRuler"
            annotationType="indus.slice.partialhighlightAnnotation"
            textPreferenceKey="occurrencePartialIndication"
            colorPreferenceKey="occurrencePartialIndicationColor"
            highlightPreferenceKey="occurrencePartialHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrencePartialIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="IndusPartialSliceAnnotation"
            colorPreferenceValue="255,255,0"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrencePartialGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrencePartialInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.partialhighlight.style"
            isGoToNextNavigationTargetKey="isOccurrencePartialGoToNextNavigationTarget" />
        <specification            
            verticalRulerPreferenceKey="occurrenceControlDependenceIndicationInVerticalRuler"
            annotationType="indus.slice.ControlDependencehighlightAnnotation"
            textPreferenceKey="occurrenceControlDependenceIndication"
            colorPreferenceKey="occurrenceControlDependenceIndicationColor"
            highlightPreferenceKey="occurrenceControlDependenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceControlDependenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusControlDependenceSliceAnnotation"
            colorPreferenceValue="255,0,0"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceControlDependenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceControlDependenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.ControlDependencehighlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceControlDependenceGoToNextNavigationTarget" />
		<specification            
            verticalRulerPreferenceKey="occurrenceInterferenceDependenceIndicationInVerticalRuler"
            annotationType="indus.slice.InterferenceDependencehighlightAnnotation"
            textPreferenceKey="occurrenceInterferenceDependenceIndication"
            colorPreferenceKey="occurrenceInterferenceDependenceIndicationColor"
            highlightPreferenceKey="occurrenceInterferenceDependenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceInterferenceDependenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusInterferenceDependenceSliceAnnotation"
            colorPreferenceValue="0,255,0"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceInterferenceDependenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInterferenceDependenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.InterferenceDependencehighlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceInterferenceDependenceGoToNextNavigationTarget" />
        <specification            
            verticalRulerPreferenceKey="occurrenceReadyDependenceIndicationInVerticalRuler"
            annotationType="indus.slice.ReadyDependencehighlightAnnotation"
            textPreferenceKey="occurrenceReadyDependenceIndication"
            colorPreferenceKey="occurrenceReadyDependenceIndicationColor"
            highlightPreferenceKey="occurrenceReadyDependenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceReadyDependenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusReadyDependenceSliceAnnotation"
            colorPreferenceValue="100,100,240"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceReadyDependenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceReadyDependenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.ReadyDependencehighlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceReadyDependenceGoToNextNavigationTarget" />
        <specification            
            verticalRulerPreferenceKey="occurrenceDivergenceDependenceIndicationInVerticalRuler"
            annotationType="indus.slice.DivergenceDependencehighlightAnnotation"
            textPreferenceKey="occurrenceDivergenceDependenceIndication"
            colorPreferenceKey="occurrenceDivergenceDependenceIndicationColor"
            highlightPreferenceKey="occurrenceDivergenceDependenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceDivergenceDependenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusDivergenceDependenceSliceAnnotation"
            colorPreferenceValue="39,196,175"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceDivergenceDependenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceDivergenceDependenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.DivergenceDependencehighlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceDivergenceDependenceGoToNextNavigationTarget" />
        <specification            
            verticalRulerPreferenceKey="occurrenceSynchronizationDependenceIndicationInVerticalRuler"
            annotationType="indus.slice.SynchronizationDependencehighlightAnnotation"
            textPreferenceKey="occurrenceSynchronizationDependenceIndication"
            colorPreferenceKey="occurrenceSynchronizationDependenceIndicationColor"
            highlightPreferenceKey="occurrenceSynchronizationDependenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="occurrenceSynchronizationDependenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="3"
            highlightPreferenceValue="true"
            label="IndusSynchronizationDependenceSliceAnnotation"
            colorPreferenceValue="193,112,176"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceSynchronizationDependenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceSynchronizationDependenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="indus.slice.SynchronizationDependencehighlight.style"
            isGoToNextNavigationTargetKey="isOccurrenceSynchronizationDependenceGoToNextNavigationTarget" />
   </extension>            
   
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="edu.ksu.cis.indus.kaveri.editorContribution">
         <action
               enablesFor="+"
               toolbarPath="Normal/additions"
               label="Forward Slice"
               class="edu.ksu.cis.indus.kaveri.sliceactions.ForwardSlice"
               tooltip="Runs a forward slice on the chosen element"
               icon="data/icons/sf.gif"
               id="edu.ksu.cis.indus.kaveri.ForwardSlice">
         </action>
         <action
               enablesFor="+"
               toolbarPath="Normal/additions"
               label="Backward Slice"
               class="edu.ksu.cis.indus.kaveri.sliceactions.BackwardSlice"
               tooltip="Runs a backward slice on the chosen element"
               icon="data/icons/sb.gif"
               id="edu.ksu.cis.indus.kaveri.BackwardSlice">
         </action>
         <action
               toolbarPath="Normal/additions"
               label="Slice Annotation"
               class="edu.ksu.cis.indus.kaveri.presentation.SliceAnnotate"
               tooltip="Enables or disables the slice annotations"
               icon="data/icons/sa.gif"
               id="edu.ksu.cis.indus.kaveri.SliceAnnotate">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Indus Preferences"
            class="edu.ksu.cis.indus.kaveri.preferences.PluginPreference"
            id="edu.ksu.cis.indus.kaveri.pluginpreference">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            label="Kaveri.Decorator"
            class="edu.ksu.cis.indus.kaveri.decorator.IndusDecorator"
            icon="data/icons/indus-decorator.gif"
            location="TOP_LEFT"
            id="edu.ksu.cis.indus.kaveri.decorator">
         <description/> The indus slice decorator.
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kaveri"
            id="edu.ksu.cis.indus.kaveri"/>
      <view
            allowMultiple="false"
            icon="data/icons/sample.gif"
            class="edu.ksu.cis.indus.kaveri.views.PartialSliceView"
            category="edu.ksu.cis.indus.kaveri"
            name="Slice View"
            id="edu.ksu.cis.indus.kaveri.views.PartialSliceView"/>
	  <view
         allowMultiple="false"
         icon="data/icons/sample.gif"
         class="edu.ksu.cis.indus.kaveri.views.DependenceHistoryView"
         category="edu.ksu.cis.indus.kaveri"
         name="Dependence History View"
         id="edu.ksu.cis.indus.kaveri.views.DependenceHistoryView"/>
   <view
         allowMultiple="false"
         icon="data/icons/sample.gif"
         class="edu.ksu.cis.indus.kaveri.dependence.DependenceTrackingView"
         category="edu.ksu.cis.indus.kaveri"
         name="Dependence Tracking View"
         id="edu.ksu.cis.indus.kaveri.dependence.DependenceTrackingView"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="edu.ksu.cis.indus.kaveri.views.PartialSliceView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="edu.ksu.cis.indus.kaveri.cimarker"
            icon="data/icons/cimarker.gif"
            id="ciImageProvider"/>
   </extension>
   <extension
         id="cimarker"
         name="ControlInterferenceMarker"
         point="org.eclipse.core.resources.markers">      
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="Indus"
            class="edu.ksu.cis.indus.kaveri.preferences.ProjectPreference"
            id="edu.ksu.cis.indus.kaveri.projectpreference">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="Indus"
            class="edu.ksu.cis.indus.kaveri.preferences.ProjectPreference"
            id="edu.ksu.cis.indus.kaveri.projectpreference">
      </page>
   </extension>
   -->
</plugin>
