.seman*
closet
closet*
tgz
tgz*
dist
dist*
docs/javadocs
docs/javadocs*
docs/doxydocs
docs/doxydocs*
build
test.jpage
slice.jar
slicer.jar
slicer-src.jar
.clover
temp
*.tgz
localbuild.properties
.fbwarnings
